<!DOCTYPE html>
<html>
  <head>
    <title>CALCULADORA KIN MAYA PAREJA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <header>
      <p>Bienvenidx</p>
      <h1>Resultado</h1>
      <img class="img-result" src="/images/manos-resultado.png" alt="" srcset="">
    </header>
    
   

    <br>
    <br>

    <h2>Kin Maya Pareja</h2>

    <p> <%= resC.selloC %>  <%= resC.tonoC %> </p>


    <a class="again" href="/" id="submit">Calcular otro kin</a>

    
  </body>
  <footer>
    <img src="/images/ixchel-sinfondo.png" alt="" srcset="">
    <img class="rotate" src="/images/ixchel-sinfondo.png" alt="" srcset="">
  </footer>

  <!--  -->



  <!--  -->
</html>
